<h1>Item 新規作成</h1>

<% if @place.present? %>
  <p>場所: <%= @place.name %></p>

  <%= form_with model: [@place, @item] do |f| %>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>

    <%= f.submit "登録" %>
  <% end %>
<% else %>
  <%= form_with model: @item do |f| %>
    <%= f.label :place_id, "場所" %>
    <%= f.collection_select :place_id, @places, :id, :name %>

    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>

    <%= f.submit "登録" %>
  <% end %>
<% end %>
