<% unclassified_id = current_user.unclassified_place&.id %>
<% nodes.each do |place, children| %>
  <li class="place-tree__node <%= 'is-active' if current_place&.id == place.id %>">
    <div class="place-tree__row">
      <%= link_to place.name,
          root_path(place_id: place.id),
          data: { turbo_frame: "middle_pane", turbo_stream: true },
          class: "place-tree__link" %>
      

      <% unless place.id == unclassified_id %>
        <div class="place-tree__actions">
          <%= button_to edit_place_path(place),
                        method: :get,
                        form: { data: { turbo_frame: "place_new" } },
                        class: "place-tree__delete",
                        aria: { label: "#{place.name}を編集" } do %>
            編集
          <% end %>

          <%= button_to place_path(place, return_place_id: current_place&.id),
                        method: :delete,
                        form: { data: { turbo_frame: "_top" } },
                        data: { turbo_confirm: "「#{place.name}」を削除しますか？（子Place/Itemがある場合は削除できません）" },
                        class: "place-tree__delete",
                        aria: { label: "#{place.name}を削除" } do %>
            削除
          <% end %>
        </div>
      <% end %>
    </div>

    <% if children.present? %>
      <ul class="place-tree__children">
        <%= render "places/place_tree_nodes",
                   nodes: children,
                   current_place: current_place %>
      </ul>
    <% end %>
  </li>
<% end %>
