<% content_for :left do %>

  <!-- 簡易登録（未分類へ追加） -->
  <%= turbo_frame_tag "left_quick" do %>
    <%= render "places/left_quick" %>
  <% end %>

  <!-- Placeツリー -->
  <div class="left-head">
    <h2 class="left-head__title">Place</h2>

    <%= turbo_frame_tag "place_new" do %>
      <%= render "places/place_new",
                 place: @new_place,
                 parent_id: @current_place&.id,
                 open: false %>
    <% end %>
  </div>

  <div class="left-tree">
    <%= turbo_frame_tag "place_tree" do %>
      <%= render "places/place_tree",
                 place_tree: @place_tree,
                 current_place: @current_place %>
    <% end %>
  </div>

<% end %>


<%= render "middle_pane" %>

<% content_for :right do %>
  <%= render "places/right_pane", current_place: @current_place, selected_item: @selected_item %>
<% end %>
