<% content_for :left do %>

  <!-- 簡易登録（未分類へ追加） -->
  <div class="left-quick">
    <h3 class="left-quick__title">Item簡易登録</h3>
    <p class="left-quick__hint">追加先：未分類</p>

    <%= form_with url: quick_create_items_path,
                  scope: :item,
                  method: :post,
                  local: true,
                  class: "left-quick__row" do |f| %>

      <%= f.text_field :name, placeholder: "名前（必須）", required: true, class: "input" %>
      <%= f.number_field :quantity, min: 0, value: 1, class: "input input--small" %>
      <%= f.submit "追加", class: "btn btn--primary" %>
    <% end %>
  </div>

  <!-- Placeツリー -->
  <div class="left-head">
    <h2 class="left-head__title">Place</h2>

    <div id="place_new">
      <%= render "places/place_new",
                 place: @new_place,
                 parent_id: @current_place&.id,
                 open: false %>
    </div>
  </div>

  <div class="left-tree">
    <%= turbo_frame_tag "place_tree" do %>
      <%= render "places/place_tree",
                 place_tree: @place_tree,
                 current_place: @current_place %>
    <% end %>
  </div>

<% end %>


<%= render "middle_pane" %>

<% content_for :right do %>
  <%= render "places/right_pane", current_place: @current_place, selected_item: @selected_item %>
<% end %>
