<h1><%= @place.name %></h1>

<h2>ルール/メモ</h2>
<p><%= simple_format(@place.description) %></p>

<p>
  <%= link_to "子Placeを作る", new_place_path(parent_id: @place.id) %> |
  <%= link_to "このPlaceにItemを追加", new_place_item_path(@place) %>
  |
  <%= link_to "このPlaceを削除", place_path(@place), method: :delete, data: { confirm: "このPlaceを削除しますか？サブPlacesとItemsも削除されます。" } %>
</p>

<h2>子Places</h2>
<ul>
  <% @children.each do |child| %>
    <li><%= link_to child.name, place_path(child) %></li>
  <% end %>
</ul>

<h2>Items</h2>
<ul>
  <% @items.each do |item| %>
    <li>
      <%= item.name %>（<%= item.quantity %>）
      <%= link_to '削除', place_item_path(@place, item), method: :delete, data: { confirm: '削除しますか？' } %>
    </li>
  <% end %>
</ul>
