<!DOCTYPE html>
<html>
  <head>
    <title>PlaceNest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/header" %>

    <main class="explorer">
      <section class="explorer__left">
        <%= yield :left %>
      </section>

      <section class="explorer__middle">
        <%= turbo_frame_tag "middle_pane" do %>
          <%= yield %>
        <% end %>
      </section>

      <aside class="explorer__right">
        <%= turbo_frame_tag "right_pane" do %>
          <%= yield :right %>
        <% end %>
      </aside>
    </main>
  </body>
</html>
